In [3]:
import numpy as np
import pandas as pd 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [10]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

# 1. Loại bỏ data có nan

In [9]:
df.dropna(thresh=3) #thresh: Số lượng số na không nằm trên dòng/hàng đó. Vd cần dòng hàng đó có 2 số có nghĩa, gõ số 2

     A    B  C
0  1.0  5.0  1

In [13]:
df.dropna(thresh=0, axis=1)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

# 2. Thay thế nan bằng 1 số nào đó khác

In [14]:
df.fillna(value=20)

      A     B  C
0   1.0   5.0  1
1   2.0  20.0  2
2  20.0  20.0  3